<center>  
<div class="card border-primary bg-light mb-3" style="max-width: 30rem;">
  <div class="card-header"></div>
  <div class="card-body">
      
    <h2 class="card-title">Home</h2>
      <ul class="list-group">

        <li class="list-group-item">
        <span class="badge"><%= %></span>
          <a>
          <span></span> 
          <%= link_to 'Upload Image', {controller: 'windows', action: 'upload_image'}, {method: :post} %>
          </a>
        </li>

        <li class="list-group-item">
        <span class="badge"><%= %></span>
          <a>
          <span></span> 
          <%= link_to 'Search Image', {controller: 'windows', action: 'search_index'}, {method: :post} %>
          </a>
        </li>

        <li class="list-group-item">
        <span class="badge"><%= %></span>
          <a>
          <span></span> 
          <%= link_to 'Unprocessed Uploads', {controller: 'windows', action: 'unprocessed_uploads'}, {method: :post} %>
          </a>
        </li>

        <li class="list-group-item">
        <span class="badge"><%= %></span>
          <a>
          <span></span> 
          <%= link_to 'Uploads', {controller: 'windows', action: 'uploads'}, {method: :post} %>
          </a>
        </li>

      </ul>
  </div>
</div>
</center>
