<table class="table table-striped table-hover table-primary">
  <thead>
  	<tr>
  		<th></th>
  	</tr>
  </thead>
  <tbody>
  	<tr>
  		<td><%= @label %></td>
  	</tr>
  </tbody>
</table>

<table class="table table-striped table-hover table-primary">
  <thead>
  	<tr>
  		<th></th>
  	</tr>
  </thead>
  <tbody>
  	<tr>
  		<td><%= @web_entities %></td>
  	</tr>
  </tbody>
</table>