<h1>Listing personnels</h1>

<table>
  <thead>
    <tr>
      <th>Email</th>
      <th>Name</th>
      <th>Passwordhash</th>
      <th>Passwordsalt</th>
      <th>Auth token</th>
      <th>Password reset token</th>
      <th>Password reset sent at</th>
      <th>Mobile</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @personnels.each do |personnel| %>
      <tr>
        <td><%= personnel.email %></td>
        <td><%= personnel.name %></td>
        <td><%= personnel.passwordhash %></td>
        <td><%= personnel.passwordsalt %></td>
        <td><%= personnel.auth_token %></td>
        <td><%= personnel.password_reset_token %></td>
        <td><%= personnel.password_reset_sent_at %></td>
        <td><%= personnel.mobile %></td>
        <td><%= link_to 'Show', personnel %></td>
        <td><%= link_to 'Edit', edit_personnel_path(personnel) %></td>
        <td><%= link_to 'Destroy', personnel, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Personnel', new_personnel_path %>
